<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>The SeattleLofts 2018 Album List</h1>
        <p><strong><a href="/">SeattleLofts</a></strong></p>
        <div id="list">
          {% capture list %}{% include List.md %}{% endcapture %}
          {{ list | markdownify }}
          
          <!--<ol>
            <li><a href="#r1">hello</a></li>
            <li><a href="#r2">world</a></li>
          </ol>-->
          <br>
          <i>(Opacity = Number of Listens)</i>
        </div>
      </header>
      <section>

      <div id="content">
        {{ content }} -->
     
      <!-- <h1 id="r1">Hello</h1>
      <ul><li>1</li></ul>
      <ul><li>2</li></ul>
      <h1 id="r2">Hello</h1>
      <ul><li>Nth</li>
      <li>2</li></ul>-->
      </div>


      </section>
      <footer>
        SeattleLofts/ Mark Mevorah
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <script>
        $(document).ready(function() { 
          var listItems = $('#list').find('a').each(function() {
            var link = $(this);
            var url = link.attr('href');
            var correspondingHeader = $('#content').find(url);
            var listenList = correspondingHeader.next().find('li');


            var containsNth = false;
            $(listenList).each(function() {
              var bulletText = $(this).text();
              if (bulletText.includes('Nth')) {
                containsNth = true;
              }
            });

            //var numListensText = containsNth ?  'N' : listenList.length;
            //link.text(link.text() + ' - ' + numListensText);

            var maxListens = 5;
            var minOpacacity = .25;
            var numListens = containsNth ? maxListens : listenList.length;
            var opacity = ((1 - minOpacacity) * (numListens / maxListens)) + minOpacacity;
            link.css('opacity', opacity);
          });
        });
    </script>
    
    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
